{% extends '@Sepulture/base.html.twig' %}

{% block stylesheets %}
  {#   <link rel="stylesheet" href="{{ asset('bundles/sepulture/dropzone/dropzone.css') }}"> #}
{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Gestion des images pour la sépulture {{ sepulture.parcelle }}</h3>
        <div class="card-body">
            <a href="{{ path('sepulture_show', { 'slug': sepulture.slug }) }}" class="btn btn-primary"
               role="button"><i class="fas fa-list"></i> Retour à la sépulture</a>

            <a href="{{ path('sepulture_edit', { 'slug': sepulture.slug }) }}" class="btn btn-primary"
               role="button"><i class="fas fa-pencil-alt"></i> Editer la sépulture</a>

            {{ form_start(form, { 'attr': {'id': 'formdrop','class': 'mt-3 dropzone'}}) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            {% if images | length > 0 %}
                {% include "@Sepulture/image/images.html.twig" %}
            {% else %}
                <p class="text-warning">Aucune image actuellement</p>
            {% endif %}

            <br/>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
  {#   <script src="{{ asset('bundles/sepulture/dropzone/dropzone.js') }}"></script>
    <script type="text/javascript">
       Dropzone.options.formdrop = {
            dictDefaultMessage: "Glissez ici vos images ou cliquez sur cette zone pour ajouter des photos",
            init: function () {
                this.on("addedfile", function (file) {
                    console.log("finished");
                });
            }
        };
    </script>
    #}
{% endblock %}

