{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Gestion des images pour la sépulture {{ sepulture.parcelle }}</h3>
        <div class="card-body">
            <a href="{{ path('sepulture_show', { 'slug': sepulture.slug }) }}" class="btn btn-primary"
               role="button"><i class="fas fa-list"></i> Retour à la sépulture</a>

            <a href="{{ path('sepulture_edit', { 'slug': sepulture.slug }) }}" class="btn btn-primary"
               role="button"><i class="fas fa-pencil-alt"></i> Editer la sépulture</a>

            {{ form_start(form, { 'attr': {'id': 'formdrop','class': 'mt-3 dropzone', 'data-controller': 'dropzone'}}) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            {% if images | length > 0 %}
                {% include "@Sepulture/image/images.html.twig" %}
            {% else %}
                <p class="text-warning mt-3">Aucune image actuellement</p>
            {% endif %}

            <br/>

        </div>
    </div>
{% endblock %}
