<div class="page-header">
    <h2 class="text-success">Sépulture {{ entity }} dans {{ entity.cimetiere }}</h2>
</div>

{% for image in images %}
    <a href="{{ image.url | imagine_filter('acmarche_sepulture_zoom_thumb') }}" title="{{ image.name }}" data-gallery>
        <img src="{{ image.url | imagine_filter('acmarche_sepulture_edit_thumb') }}" alt="img"
             style="margin-bottom: 10px;">
    </a>
{% endfor %}

<br/>
<br/>

<h4 class="text-success">Epitaphe</h4>
{{ entity.epitaphe | nl2br }}

<br/>
<table class="table">
    <tr>
        <td style="width: 50%;">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width: 40%">Type(s) de sépulture</th>
                    <td>
                        {{ entity.types | join('|') }}
                        {{ entity.typeautre }}
                    </td>
                </tr>
                <tr>
                    <th>Matériaux</th>
                    <td>
                        {{ entity.materiaux | join('|') }}
                        {{ entity.materiauxautre }}
                    </td>
                </tr>
                <tr>
                    <th>Aspect visuel</th>
                    <td>
                        {{ entity.visuel }}
                    </td>
                </tr>
                <tr>
                    <th>Aspect légal</th>
                    <td>{{ entity.legal }}</td>
                </tr>
                <tr>
                    <th>Symbole</th>
                    <td>{{ entity.symbole | nl2br }}</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width: 40%">Intérêt Historique Locale</th>
                    <td>{{ entity.sihls | join('|') }}</td>
                </tr>
                <tr>
                    <th>Architectural</th>
                    <td>{{ entity.architectural }}</td>
                </tr>
                <tr>
                    <th>Fonction sociale</th>
                    <td>{{ entity.sociale }}</td>
                </tr>
                <tr>
                    <th>Aucune inscription sociale</th>
                    <td>
                        {% if entity.socialecheck %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non défini
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Inhumation avant 1945 ?</th>
                    <td>
                        {% if entity.guerre %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Combattant 14-18</th>
                    <td>
                        {% if entity.combattant14 %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Combattant 40-45</th>
                    <td>
                        {% if entity.combattant40 %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>

<br/>
<p>
    {{ entity.description | nl2br }}
</p>

{% if entity.descriptionautre %}
    <p>
        {{ entity.descriptionautre | nl2br }}
    </p>
{% endif %}
<br/>

<h4 class='info'>Liste des défunts reposant dans cette sépulture :</h4>
{% if entity.defunts | length > 0 %}
    <table class="table table-bordered table-stripped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Né le</th>
            <th>Décédé le</th>
            <th>Fonction</th>
        </tr>
        </thead>
        <tbody>
        {% for defunt in entity.defunts %}
            <tr>
                <td>
                    <a href="{{ absolute_url(path('defunt_show', { 'id': defunt.id })) }}"
                       title="Consulter le détail">
                        {{ defunt.nom }} {{ defunt.prenom }}
                    </a>
                </td>
                <td>{{ defunt.birthday }} {% if defunt.lieuNaissance %} à {{ defunt.lieuNaissance }} {% endif %} </td>
                <td>{{ defunt.datedeces }} {% if defunt.lieuDeces %} à {{ defunt.lieuDeces }} {% endif %}</td>
                <td>{{ defunt.fonction }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun défunt encodé</p>
{% endif %}

<br/><br/>
<span class="text-muted">
    {% include '@Sepulture/signature.html.twig' %}
</span>
<div class="page-breaker"></div>
