{{ form_start(form, { 'attr': {'class': 'well'}}) }}
{{ form_errors(form) }}
<div class="row">

    <div class="col-md-6">
        {{ form_row(form.parcelle) }}
        {{ form_row(form.cimetiere) }}
        {{ form_row(form.annee_releve) }}
        {{ form_row(form.statut) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.visuel) }}
        {{ form_row(form.legal) }}
        {{ form_row(form.architectural) }}
        <div class="col-md-6">
            {{ form_row(form.sociale) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.sociale_check) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.types) }}
        {{ form_row(form.type_autre) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.materiaux) }}
        {{ form_row(form.materiaux_autre) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.sihls) }}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {{ form_row(form.guerre) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.combattant14) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.combattant40) }}
    </div>
</div>
{{ form_row(form.description) }}
{{ form_row(form.symbole) }}
{{ form_row(form.description_autre) }}
{{ form_row(form.contact) }}
<input type="submit" name="search" value="Sauvegarder" class="btn btn-primary my-1 mr-sm-2">
{{ form_end(form) }}
