{% extends '@Sepulture/base.html.twig' %}

{% block title %}Sépulture {{ sepulture.parcelle }} dans {{ sepulture.cimetiere }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sepulture/blueimp/css/blueimp-gallery.min.css') }}">
{% endblock %}

{% block body %}

    <h3>
        Sépulture <strong>{{ sepulture.parcelle }}</strong> dans
        <a href="{{ path('cimetiere_show', { 'slug': sepulture.cimetiere.slug }) }}">
            {{ sepulture.cimetiere }}
        </a>
    </h3>

    <br/>

    {% include '@Sepulture/sepulture/gallery_controls.html.twig' %}

    {% include '@Sepulture/sepulture/actions.html.twig' %}
    <br/>
    {% include '@Sepulture/sepulture/images.html.twig' %}
    <br/>
    <p class="text-muted">
        {{ sepulture.description | nl2br }}
    </p>

    {% if sepulture.descriptionautre %}
        <p class="text-muted">
            {{ sepulture.descriptionautre | nl2br }}
        </p>
    {% endif %}
    <br/>
    <div class="row">
        <div class="col-md6 col-lg-6">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>Type(s) de sépulture</th>
                    <td>{{ sepulture.types | join('|') }}</td>
                </tr>
                <tr>
                    <th>Autre type ?</th>
                    <td>{{ sepulture.typeautre }}</td>
                </tr>
                <tr>
                    <th>Matériaux</th>
                    <td>{{ sepulture.materiaux | join('|') }}</td>
                </tr>
                <tr>
                    <th>Autre matériaux ?</th>
                    <td>{{ sepulture.materiauxautre }}</td>
                </tr>
                <tr>
                    <th>Aspect visuel</th>
                    <td>
                        {{ sepulture.visuel }}
                    </td>
                </tr>

                <tr>
                    <th>Aspect légal</th>
                    <td>{{ sepulture.legal }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md6 col-lg-6">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>Sépulture Intérêt Historique Locale</th>
                    <td>{{ sepulture.sihls | join('|') }}</td>
                </tr>
                <tr>
                    <th>Architectural</th>
                    <td>{{ sepulture.architectural }}</td>
                </tr>
                <tr>
                    <th>Fonction sociale</th>
                    <td>{{ sepulture.sociale }}</td>
                </tr>
                <tr>
                    <th>Aucune inscription sociale</th>
                    <td>
                        {% if sepulture.socialecheck %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non défini
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Inhumation avant 1945 ?</th>
                    <td>
                        {% if sepulture.guerre %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Combattant 14-18</th>
                    <td>
                        {% if sepulture.combattant14 %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Combattant 40-45</th>
                    <td>
                        {% if sepulture.combattant40 %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4 class="text-success">Symbole</h4>
    {{ sepulture.symbole | nl2br }}

    <h4 class="text-success">Epitaphe</h4>
    {{ sepulture.epitaphe | nl2br }}

    <br/>
    <h4 class="text-success">Liste des défunts reposant dans cette sépulture</h4>
    <hr/>
    {% include '@Sepulture/sepulture/defunts.html.twig' with {'defunts': sepulture.defunts } %}

    <br/>
    {% if is_granted('ROLE_SEPULTURE_EDITEUR') %}

        <div class="row">
            <div class="col-md6 col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class='info'>
                        <td colspan='3'>Information relative à l'encodage</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Statut de l'encodage</th>
                        <td>{{ sepulture.statut }}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{ sepulture.contact }}</td>
                    </tr>
                    <tr>
                        <th>Année de relevé</th>
                        <td>{{ sepulture.anneereleve }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p class="text-muted">
            {{ 'Created' | trans }} {{ sepulture.createdAt|date('d-m-Y H:i:s') }} par {{ sepulture.useradd }}
            . {{ 'Updated' | trans }} {{ sepulture.updatedAt|date('d-m-Y H:i:s') }}
        </p>

    {% else %}
        {% include '@Sepulture/commentaire/new.html.twig' with {'form': form_commentaire } %}
    {% endif %}

    {% include '@Sepulture/sepulture/delete.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/sepulture/blueimp/js/blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/sepulture/js/gallery.js') }}"></script>
    <script>
        $('.animal').click(function () {
            $('.animal').removeClass('animalselected'); // removes the previous selected class
            $(this).addClass('animalselected'); // adds the class to the clicked image
            var url = $(this).data('url');
            console.log(url);
            $('#commentaire_captcha').val(url);
        });
    </script>
{% endblock %}
