{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Ajout de sépultures dans {{ ossuaire }}</h3>
        <div class="card-body">

            <div class="alert alert-info">
                Recherchez les sépultures, cochez les puis ajoutez les à l'ossuaire
            </div>

            {{ form_start(search_form, { 'attr': {'class': 'row row-cols-lg-auto g-3 align-items-center hidden-print'}}) }}
            {{ form_errors(search_form) }}
            {{ form_row(search_form.cimetiere, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
            {{ form_row(search_form.parcelle, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
            <input type="submit" name="search" value="Rechercher" class="btn btn-primary my-1 mr-sm-2">
            {{ form_end(search_form) }}
            <br/>

            {% if search %}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% if sepultures | length > 0 %}
                    <h4 class="text-success">{{ sepultures | length }} sépulture(s) trouvée(s)</h4>
                    <table class="table table-bordered table-hover"{{ stimulus_controller('checkbox-select-all') }}>
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" data-checkbox-select-all-target="checkboxAll"/>
                                    <span>Sélectionner tout / Déselectionner tout</span>
                                </label>
                            </th>
                            <th style="w4idth: 10%;">Parcelle</th>
                            <th style="wi4dth: 15%;">Cimetière</th>
                            <th style="wi4dth: 10%;">Images</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sepulture in sepultures %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="sepultures[]" value="{{ sepulture.id }}"
                                           data-checkbox-select-all-target="checkbox">
                                </td>
                                <td>
                                    <a href="{{ path('sepulture_show', { 'slug': sepulture.slug }) }}">{{ sepulture.parcelle }}</a>
                                </td>
                                <td>
                                    {{ sepulture.cimetiere }}
                                </td>
                                <td>
                                    {% set image = sepulture.id | acmarche_sepulture_getimage %}
                                    {% if image %}
                                        <a href="{{ path('sepulture_show', { 'slug': sepulture.slug }) }}"
                                           title="Consulter le détail">
                                            <img src="{{ image.url | imagine_filter('acmarche_sepulture_thumb') }}"
                                                 alt="img"
                                                 class="img-responsive img-thumbnail">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {{ form_widget(form) }}
                <input type="submit" name="add" value="Ajouter" class="btn btn-primary my-1 mr-sm-2">
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>

{% endblock %}

