{{ form_start(form, { 'attr': {'class': 'row row-cols-lg-auto g-3 align-items-center hidden-print'}}) }}
{{ form_errors(form) }}

{{ form_row(form.clef, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.cimetiere, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.visuel, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.parcelle, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}

<div class="col-12"></div>
{{ form_row(form.types, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.sihls, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.combattant14, {label_attr: {class: 'sr2-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.combattant40, {label_attr: {class: 'sr-2only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.social, {label_attr: {class: 'sr-o2nly'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.guerre, {label_attr: {class: 'sr-on2ly'}, attr:{'class': 'my-1 mr-sm-2'} }) }}
{{ form_row(form.annee, {label_attr: {class: 'sr-only'}, attr:{'class': 'my-1 mr-sm-2'} }) }}

<input type="submit" name="search" value="Rechercher" class="btn btn-primary my-1 mr-sm-2">

{% if is_granted('ROLE_SEPULTURE_EDITEUR') %}
    <a role="button" href="{{ path('export_sepulture_search_pdf') }}" title="Exporter"
       class="btn btn-sm btn-success my-1 mr-sm-2 my-2"> <i class="ti ti-file-type-pdf"></i>
    </a>
{% endif %}

{{ form_end(form) }}
<br/>
