{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>{{ contact.gestionnaire }}</h3>
    </div>

    {% include '@Sepulture/contact_rw/_actions.html.twig' %}
    <br/>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Adresse</th>
            <td>{{ contact.adresse }}</td>
        </tr>
        <tr>
            <th>Code Ins</th>
            <td>{{ contact.codeIns }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ contact.nom }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ contact.telephone }}</td>
        </tr>
        <tr>
            <th>Date de rapport</th>
            <td>{{ contact.dateRapport ? contact.dateRapport|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Date d'expiration</th>
            <td>{{ contact.dateExpiration ? contact.dateExpiration|date('d-m-Y') : '' }}</td>
        </tr>
        </tbody>
    </table>

    {{ include('@Sepulture/contact_rw/_delete_form.html.twig') }}
{% endblock %}
