{% set action = app.request.attributes.get("_route") %}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a href="{{ path('sepulture') }}" class="nav-link" aria-current="page">
            Rechercher
        </a>
    </li>
    <li class="nav-item"><a href="{{ path('patronymes') }}" class="nav-link">Patronymes</a></li>
    <li class="nav-item"><a href="{{ path('cimetiere') }}" class="nav-link">Cimetières</a></li>
    <li class="nav-item"><a href="{{ path('page_show', {'slug':'contact'}) }}" class="nav-link">Contact</a></li>
    {% if is_granted('ROLE_SEPULTURE_EDITEUR') %}
        <li class="nav-item"><a href="{{ path('sepulture_new') }}" class="nav-link">Nouvelle sépulture</a></li>
        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a></li>
    {% endif %}

    {% if is_granted('ROLE_SEPULTURE_ADMIN') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paramètres... <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('commentaire') }}">Commentaires</a></li>
                <li><a href="{{ path('typesepulture') }}">Types sépulture</a></li>
                <li><a href="{{ path('materiaux') }}">Matériaux</a></li>
                <li><a href="{{ path('visuel') }}">Aspect visuel</a></li>
                <li><a href="{{ path('legal') }}">Aspect légal</a></li>
                <li><a href="{{ path('sihl') }}">Sihl</a></li>
                <li><a href="{{ path('contact_rw_index') }}">Contact Rw</a></li>
                <li><a href="{{ path('user_index') }}">Les utilisateurs</a></li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Se connecter</a></li>
    {% endif %}


</ul>


